<div class="flashcard-container">
    <div id="flashcard" class="flashcard"></div>
    <button class="btn" id="markMasteredBtn" onclick="markAsMastered()">Mastered</button>
    <button class="btn" id="skipBtn" onclick="skipFlashcard()">Skip</button>
</div>

<script>
    $(document).ready(function () {
        loadFlashcards(5); // Start from level 5
    });

    let currentLevel = 5;
    let flashcards = [];
    let currentIndex = 0;

    function loadFlashcards(level) {
        $.get(`/flashcards/level/${level}`, function (data) {
            flashcards = data;
            currentIndex = 0;
            if (flashcards.length > 0) {
                showFlashcard(flashcards[currentIndex]);
            } else {
                // If no flashcards are available, move to the next level
                if (level > 1) {
                    currentLevel--;
                    loadFlashcards(currentLevel);
                } else {
                    $('#flashcard').text("All flashcards mastered!");
                    $('#markMasteredBtn').hide();
                    $('#skipBtn').hide();
                }
            }
        });
    }

    function showFlashcard(flashcard) {
        const kanjiText = flashcard.kanjis.map(kanji => kanji.text).join(", ");
        const kanaText = flashcard.kanas.map(kana => kana.text).join(", ");
        const meaningText = flashcard.translations.join(", ");
        const hasKanji = flashcard.kanjis.length > 0;
        const id = flashcard.id;
        const $card = `
            <div class="card">
                <div class="card-body hide-after">
                    <h5 class="card-title">${kanjiText}</h5>
                    <p class="card-text" id="kana-text-${id}" style="display: ${hasKanji ? 'none' : 'block'};">${kanaText}</p>
                    <button class="btn" id="show-kana-btn-${id}" style="display: ${hasKanji ? 'block' : 'none'};" onclick="toggleKana('${id}')">Show Kana</button>
                    <p class="card-text" id="meaning-text-${id}" style="display: none;">${meaningText}</p>
                    <button class="btn" id="show-meaning-btn-${id}" onclick="toggleMeaning('${id}')">Show Translation</button>
                </div>
            </div>
        `;

        $('#flashcard').html($card);

        $('.show-kana-btn').off('click').on('click', toggleKana);
        $('.show-meaning-btn').off('click').on('click', toggleMeaning);
    }

    function markAsMastered() {
        const flashcard = flashcards[currentIndex];
        $.post(`/flashcards/mastered/${flashcard.id}`, function () {
            currentIndex++;
            if (currentIndex < flashcards.length) {
                showFlashcard(flashcards[currentIndex]);
            } else {
                loadFlashcards(currentLevel);
            }
        });
    }

    function skipFlashcard() {
        if (flashcards.length > 1) {
            const skippedFlashcard = flashcards.splice(currentIndex, 1)[0];
            flashcards.push(skippedFlashcard);
            if (currentIndex >= flashcards.length) {
                currentIndex = 0;
            }
            showFlashcard(flashcards[currentIndex]);
        }
    }

    function toggleKana(id) {
        var $kanaText = $('#kana-text-'+id);
        $kanaText.toggle();
        $('#show-kana-btn-'+id).toggle();
    }

    function toggleMeaning(id) {
        var $meaningText = $('#meaning-text-'+id);
        $meaningText.toggle();
        $('#show-meaning-btn-'+id).toggle();
    }
</script>