<nav class="header row navbar" th:fragment="navbar">
  <a href="#" class="title" th:text="${applicationTitle}"></a>
  <div class="nav-items">
    <a class="nav-item active" href="#" onclick="common.loadContent('/container', $(this))">Home</a>
    <a class="nav-item" href="#" onclick="common.loadContent('/jlpt', $(this))">JLPT</a>
    <a class="nav-item" href="#">Cards</a>
  </div>
  <div class="nav-search input-container">
    <i class="fas fa-magnifying-glass"></i>
    <input type="text" id="searchQuery" class="nav-search input" placeholder="Search for a word">
  </div>
</nav>